# Docker Compose PostgreSQL接続情報
# ローカル開発（Docker外からのアクセス）
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# Docker内からのアクセス（docker-compose.ymlで上書きされます）
# DATABASE_URL="postgresql://postgres:postgres@postgres:5432/postgres"

# Cronスケジュール設定（毎日3:00に実行）
CRON_SCHEDULE="0 3 * * *"

# タイムゾーン
TZ="Asia/Tokyo"

LINE_ACCESS_TOKEN="LINE ACCESS TOKEN"
